*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size:62.5%;
}
body {
    font-size:1.6rem;
}
.containerA {
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:stretch;
}
.containerB {
    border: 0.3rem solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box {
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}
.box1 {
    background-color:aqua;
    order:6;
}
.box2 {
    background-color:blue;
}
.box3 {
    background-color:purple;
}
.box4 {
    background-color:red;
}
.box5 {
    background-color:yellow;
}
.box6 {
    background-color:pink;
}