.main-nav {
    font-size:30px;
    font-family: arial;
    background-color:rgb(157, 221, 221);
    margin-top: 10px;
    list-style: none;
    padding: 0;
}
.main-nav__item {
    display:inline-block;
}
.main-nav__item a {
    color:white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
/*Pseudoclasses*/
.main-nav__item a:hover {
    text-decoration: underline;
    background-color:rgb(93, 144, 161);
}
.main-nav__item a:active{
    background-color:rgb(22, 60, 141);
}
/*Pseudoelement*/
.main-nav__item a::after{
    content: ' | ';
}
/*
    CSS Rules
    #ID .class :State []Attribute *Everything
    
 */